html, body { width: 100%; height: 100%; }

#info { position: fixed; top: 19px; left: 19px; }
#info.hidden .x { display: none; }
#info.show .i { display: none; }

#expanded-info { position: fixed; top: 19px; left: 55px; display: none; width: 288px; height: 143px; }
#expanded-info .chrisallick { display: block; position: absolute; left: 0px; top: 0px; width: 64px; height: 32px; }
#expanded-info .pablorochat { display: block; position: absolute; left: 69px; top: 0px; width: 68px; height: 32px; }
#expanded-info .email { position: absolute; top: 110px; left: 0px; }
#expanded-info .experiments { position: absolute; top: 110px; left: 36px; }

#header { width: 896px; height: 655px; margin: 0 auto; padding: 100px 0px 30px 0px; }
#header #logo {  }
#header #logo span { position: absolute; width: 567px; height: 163px; top: 0px; left: 0px; z-index: 1; background: url("../img/bgsprite.png") top left no-repeat; }
#header #logo span { background-position: 0px 0px; }
#header #logo .overlay { position: absolute; top: 0px; left: 0px; z-index: 10; }

#wrapper { padding-top: 30px; width: 1000px; margin: 0 auto; }
#projects { text-align: center; width: 500px; margin: 0 auto; }
#projects .project { margin-bottom: 40px; }